# Demographic Data Analyzer

In [88]:
import pandas as pd
import numpy as np

In [89]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (`race` column)

In [91]:
race = list(pd.Series(df['race'].value_counts(), index= df['race'].unique(), name= 'race'))
print(race)

[27816, 3124, 1039, 311, 271]

What is the average age of men?

In [92]:
np.round(df.loc[df['sex'] == 'Male', 'age'].mean(), 10)

np.float64(39.4335474989)

What is the percentage of people who have a Bachelor's degree?

In [93]:
round((df.loc[df['education'] == 'Bachelors', 'education'].count()/ df['education'].count())*100, 10)

np.float64(16.4460550966)

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [94]:
adv_education = df.loc[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'), ['education', 'salary']]
(adv_education.loc[adv_education['salary'] == '>50K', 'salary'].count()/adv_education['salary'].count())*100

np.float64(46.535843011613935)

What percentage of people without advanced education make more than 50K?

In [154]:
without_advance_edu = df.loc[~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')), 'salary']

without_advance_edu[without_advance_edu == '>50K'].count()/ without_advance_edu.count()

np.float64(0.173713601914639)

What is the minimum number of hours a person works per week?

In [96]:
df['hours-per-week'].min()

np.int64(1)

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [97]:
min_work = df.loc[df['hours-per-week']== df['hours-per-week'].min()]
(min_work.loc[min_work['salary'] == '>50K', 'salary'].count()/min_work['salary'].count())*100

np.float64(10.0)

What country has the highest percentage of people that earn >50K and what is that percentage?

In [134]:
higgest_salary = df.loc[df['salary'] == '>50K', 'native-country'].value_counts()
total_countries = df['native-country'].value_counts()
higgest_percentage = higgest_salary/total_countries *100
higgest_percentage.sort_values(ascending= False)[0]

/var/folders/2w/6wdtvqmj2gv_1lkm7fzp74qc0000gp/T/ipykernel_1814/457461714.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  higgest_percentage.sort_values(ascending= False)[0]

np.float64(41.86046511627907)

Identify the most popular occupation for those who earn >50K in India.

In [99]:
df.loc[((df['salary'] == '>50K') & (df['native-country'] == 'India')), 'occupation'].value_counts().index[0]

'Prof-specialty'

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
135,38,Federal-gov,125933,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Iran,>50K
237,41,Private,180138,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,Iran,>50K
348,56,Private,101128,Assoc-acdm,12,Married-spouse-absent,Other-service,Not-in-family,White,Male,0,0,25,Iran,<=50K
1054,38,Private,193026,Some-college,10,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,Iran,<=50K
1387,40,Self-emp-not-inc,266324,Some-college,10,Divorced,Exec-managerial,Other-relative,White,Male,0,1564,70,Iran,>50K